In [1]:
import pandas as pd
import numpy as np

In [175]:
df_path = '/Users/t_raver9/Desktop/projects/aflengine/bench/match_features.csv'
matches_path = '/Users/t_raver9/Desktop/projects/aflengine/bench/matches_plus.csv'

In [188]:
df = pd.read_csv(df_path)

In [189]:
for col in df.columns:
    print(col)

Unnamed: 0
odds_diff
line_diff
break_diff
ground_advantage_diff
games_played_diff
wins_pg_diff
losses_pg_diff
draws_pg_diff
points_for_pg_diff
points_against_pg_diff
percentage_diff
ladder_position_diff
last_5_wins_diff
last_5_pct_diff
last_5_pts_for_diff
last_5_pts_against_diff
AFLfantasy_ave_diff
Supercoach_ave_diff
behinds_ave_diff
bounces_ave_diff
brownlow_ave_diff
clangers_ave_diff
clearances_ave_diff
contested_marks_ave_diff
contested_poss_ave_diff
disposals_ave_diff
frees_against_ave_diff
frees_for_ave_diff
goal_assists_ave_diff
goals_ave_diff
handballs_ave_diff
hitouts_ave_diff
inside50_ave_diff
kicks_ave_diff
marks_ave_diff
marks_in_50_ave_diff
one_percenters_ave_diff
rebound50_ave_diff
tackles_ave_diff
uncontested_poss_ave_diff
centre_clearances_ave_diff
disposal_efficiency_ave_diff
effective_disposals_ave_diff
intercepts_ave_diff
metres_gained_ave_diff
stoppage_clearances_ave_diff
score_involvements_ave_diff
tackles_in_50_ave_diff
turnovers_ave_diff

In [190]:
df

,Unnamed: 0,odds_diff,line_diff,break_diff,ground_advantage_diff,games_played_diff,wins_pg_diff,losses_pg_diff,draws_pg_diff,points_for_pg_diff,...,uncontested_poss_ave_diff,centre_clearances_ave_diff,disposal_efficiency_ave_diff,effective_disposals_ave_diff,intercepts_ave_diff,metres_gained_ave_diff,stoppage_clearances_ave_diff,score_involvements_ave_diff,tackles_in_50_ave_diff,turnovers_ave_diff
0,0,0.00,0.0,0,0,20,0.000000,0.000000,0.0,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,1,0.00,0.0,0,0,20,0.000000,0.000000,0.0,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,2,0.00,0.0,0,0,20,0.000000,0.000000,0.0,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,3,0.00,0.0,0,0,19,0.000000,0.000000,0.0,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,4,0.00,0.0,0,0,-2,0.000000,0.000000,0.0,6.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14927,14927,-2.97,-49.0,-1,1,550,0.190476,-0.190476,0.0,11.904762,...,21.761905,-0.428571,111.361905,28.428571,-1.142857,-14.047619,-2.190476,7.000000,-3.619048,-6.619048
14928,14928,-1.67,-35.0,1,1,341,-0.095238,0.095238,0.0,0.761905,...,3.666667,-1.476190,-47.700000,3.380952,2.619048,272.000000,-1.666667,-0.761905,-0.523810,5.380952
14929,14929,-2.02,-37.0,-1,1,-1172,0.047619,-0.047619,0.0,6.238095,...,4.047619,0.904762,40.342857,8.761905,-3.000000,80.238095,-2.238095,11.095238,-0.285714,-3.619048
14930,14930,-2.02,-41.0,0,1,940,0.047619,-0.047619,0.0,8.761905,...,10.809524,1.476190,25.014286,15.571429,3.333333,193.142857,1.952381,3.904762,4.047619,2.380952
14931,14931,-1.54,-33.0,-1,1,448,-0.047619,0.047619,0.0,-6.619048,...,28.476190,0.047619,-31.476190,8.523810,2.190476,-25.000000,-7.333333,5.095238,-3.809524,5.523810

In [191]:
matches = pd.read_csv(matches_path)

In [192]:
# Add a winners column to the matches file
def add_winner_col(matches):
    matches['winner'] = 0
    for idx,row in matches.iterrows():
        if row['hscore'] > row['ascore']:
            matches.at[idx,'winner'] = 1
        elif row['hscore'] == row['ascore']:
            matches.at[idx,'winner'] = .5
        else:
            matches.at[idx,'winner'] = 0
    return matches

In [193]:
matches = add_winner_col(matches)

In [194]:
# Now add that column to the features df
df['winner'] = matches['winner']

In [163]:
df.corr()['winner'].sort_values()

line_diff                      -0.169263
odds_diff                      -0.100298
last_5_pts_against_diff        -0.066394
ladder_position_diff           -0.063751
losses_pg_diff                 -0.043356
clangers_ave_diff              -0.012546
break_diff                     -0.010171
draws_pg_diff                  -0.005666
frees_against_ave_diff         -0.003778
Unnamed: 0                     -0.001417
bounces_ave_diff                0.000031
centre_clearances_ave_diff      0.000641
rebound50_ave_diff              0.001787
tackles_ave_diff                0.003348
frees_for_ave_diff              0.005161
score_involvements_ave_diff     0.006792
stoppage_clearances_ave_diff    0.008268
clearances_ave_diff             0.009950
contested_marks_ave_diff        0.011737
goal_assists_ave_diff           0.012844
handballs_ave_diff              0.012849
marks_in_50_ave_diff            0.014201
turnovers_ave_diff              0.017532
last_5_pts_for_diff             0.017945
metres_gained_ave_diff          0.017957
one_percenters_ave_diff         0.018693
tackles_in_50_ave_diff          0.019013
Supercoach_ave_diff             0.020280
behinds_ave_diff                0.020483
contested_poss_ave_diff         0.020685
disposal_efficiency_ave_diff    0.021002
marks_ave_diff                  0.021517
intercepts_ave_diff             0.022496
AFLfantasy_ave_diff             0.023211
uncontested_poss_ave_diff       0.023488
goals_ave_diff                  0.024407
hitouts_ave_diff                0.025025
points_against_pg_diff          0.026723
points_for_pg_diff              0.026723
brownlow_ave_diff               0.029864
effective_disposals_ave_diff    0.031505
disposals_ave_diff              0.032177
inside50_ave_diff               0.032952
percentage_diff                 0.036687
kicks_ave_diff                  0.038528
wins_pg_diff                    0.045132
last_5_pct_diff                 0.048901
last_5_wins_diff                0.049509
ground_advantage_diff           0.070853
games_played_diff               0.278606
winner                          1.000000
Name: winner, dtype: float64

In [35]:
# How often does the home team win? 57.5%

In [195]:
sum(df['winner'])/len(df)

0.575475488882936

In [196]:
# How often does the favourite team win? 71.1%
matches_with_odds = matches[matches['season']>2009]
matches_with_odds

,Unnamed: 0,round,venue,date,day,time,crowd,hteam,hteam_q1,hteam_q2,...,centre_clearances_a_ave,disposal_efficiency_a_ave,effective_disposals_a_ave,intercepts_a_ave,metres_gained_a_ave,stoppage_clearances_a_ave,score_involvements_a_ave,tackles_in_50_a_ave,turnovers_a_ave,winner
13004,13004,1,M.C.G.,2010-03-25,Thu,19:10:00,72010.0,Richmond,4.2.26,7.6.48,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0
13005,13005,1,M.C.G.,2010-03-26,Fri,19:40:00,57772.0,Geelong,2.5.17,8.7.55,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1
13006,13006,1,Gabba,2010-03-27,Sat,19:10:00,29201.0,Brisbane Lions,2.6.18,6.10.46,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1
13007,13007,1,Stadium Australia,2010-03-27,Sat,19:10:00,31330.0,Sydney,3.3.21,7.5.47,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0
13008,13008,1,M.C.G.,2010-03-27,Sat,14:10:00,45615.0,Melbourne,0.3.3,1.6.12,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14927,14927,23,Bellerive Oval,2019-08-24,Sat,14:10:00,8202.0,North Melbourne,3.4.22,5.4.34,...,12.590909,1516.140909,251.772727,70.500000,5556.454545,26.500000,85.318182,12.136364,74.090909,1
14928,14928,23,S.C.G.,2019-08-24,Sat,13:45:00,33722.0,Sydney,6.2.38,6.3.39,...,11.727273,1599.554545,261.909091,68.000000,5475.772727,26.181818,86.954545,9.909091,66.909091,1
14929,14929,23,Eureka Stadium,2019-08-25,Sun,13:10:00,9560.0,Footscray,6.5.41,9.8.62,...,11.500000,1567.281818,280.909091,71.863636,5727.454545,26.545455,93.636364,10.090909,72.727273,1
14930,14930,23,Adelaide Oval,2019-08-25,Sun,16:10:00,27504.0,Port Adelaide,3.4.22,7.9.51,...,11.636364,1520.818182,259.954545,73.909091,5674.954545,26.181818,86.181818,8.727273,75.954545,1
14931,14931,23,M.C.G.,2019-08-25,Sun,15:20:00,76995.0,Richmond,6.2.38,8.6.54,...,12.136364,1587.554545,256.136364,71.909091,5877.090909,29.363636,88.363636,14.136364,66.727273,1

In [197]:
sum(((df_with_odds['odds_diff'] < 0) & (df_with_odds['winner'] == 1)) | ((df_with_odds['odds_diff'] > 0) & (df_with_odds['winner'] == 0)))/len(df_with_odds)

0.7110995850622407

In [198]:
# How often does the team with more games played experience amongst it's players win? 62.3% of the time
sum(((df['games_played_diff'] > 0) & (df['winner'] == 1)) | ((df['games_played_diff'] < 0) & (df['winner'] == 0)))/len(df)

0.6227564961157246

In [199]:
df_with_odds = df.iloc[matches_with_odds.index[:]]

In [200]:
df_with_odds

,Unnamed: 0,odds_diff,line_diff,break_diff,ground_advantage_diff,games_played_diff,wins_pg_diff,losses_pg_diff,draws_pg_diff,points_for_pg_diff,...,centre_clearances_ave_diff,disposal_efficiency_ave_diff,effective_disposals_ave_diff,intercepts_ave_diff,metres_gained_ave_diff,stoppage_clearances_ave_diff,score_involvements_ave_diff,tackles_in_50_ave_diff,turnovers_ave_diff,winner
13004,13004,1.47,33.0,0,0,-295,0.136364,-0.090909,-0.045455,5.409091,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0
13005,13005,-3.29,-57.0,0,-1,1394,0.136364,-0.090909,-0.045455,5.409091,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1
13006,13006,-2.10,-43.0,0,1,648,0.136364,-0.090909,-0.045455,5.409091,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1
13007,13007,1.15,29.0,0,0,45,0.136364,-0.090909,-0.045455,5.409091,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0
13008,13008,3.77,63.0,0,0,76,0.136364,-0.090909,-0.045455,5.409091,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14927,14927,-2.97,-49.0,-1,1,550,0.190476,-0.190476,0.000000,11.904762,...,-0.428571,111.361905,28.428571,-1.142857,-14.047619,-2.190476,7.000000,-3.619048,-6.619048,1
14928,14928,-1.67,-35.0,1,1,341,-0.095238,0.095238,0.000000,0.761905,...,-1.476190,-47.700000,3.380952,2.619048,272.000000,-1.666667,-0.761905,-0.523810,5.380952,1
14929,14929,-2.02,-37.0,-1,1,-1172,0.047619,-0.047619,0.000000,6.238095,...,0.904762,40.342857,8.761905,-3.000000,80.238095,-2.238095,11.095238,-0.285714,-3.619048,1
14930,14930,-2.02,-41.0,0,1,940,0.047619,-0.047619,0.000000,8.761905,...,1.476190,25.014286,15.571429,3.333333,193.142857,1.952381,3.904762,4.047619,2.380952,1
14931,14931,-1.54,-33.0,-1,1,448,-0.047619,0.047619,0.000000,-6.619048,...,0.047619,-31.476190,8.523810,2.190476,-25.000000,-7.333333,5.095238,-3.809524,5.523810,1

In [202]:
# How often does the team higher on the ladder win? 65.5%
sum(((df['ladder_position_diff'] < 0) & (df['winner'] == 1)) | ((df['ladder_position_diff'] > 0) & (df['winner'] == 0)))/len(df)

0.6551031342084115

In [210]:
# How often does the team with the best 5-game win form win? 53.3%
sum(((df['last_5_wins_diff'] > 0) & (df['winner'] == 1)) | ((df['last_5_wins_diff'] < 0) & (df['winner'] == 0)))/len(df)

0.5331502812751139

In [212]:
# How often does the team with the best 5-game percentage form win? 64.9%
sum(((df['last_5_pct_diff'] > 0) & (df['winner'] == 1)) | ((df['last_5_pct_diff'] < 0) & (df['winner'] == 0)))/len(df)

0.649343691401018

In [214]:
# How often does the team with the best percentage win? 66.2%
sum(((df['percentage_diff'] > 0) & (df['winner'] == 1)) | ((df['percentage_diff'] < 0) & (df['winner'] == 0)))/len(df)

0.6621350120546478

In [203]:
matches.iloc[df[df['ladder_position_diff'] == -17].index[:]][['hteam','ateam','hscore','ascore','winner','round','season']]

          hteam                   ateam  hscore  ascore  winner  round  season
13613  Essendon  Greater Western Sydney     120      81       1      6    2013

In [207]:
matches[(matches['season']==2014)&(matches['round']==12)][['hteam','ateam','h_ladder_position','a_ladder_position','h_percentage','a_percentage','hscore','ascore','winner','round','season']]

,hteam,ateam,h_ladder_position,a_ladder_position,h_percentage,a_percentage,hscore,ascore,winner,round,season
13853,Geelong,Carlton,5,12,101.659751,88.141923,107,102,1,12,2014
13854,Hawthorn,West Coast,2,11,148.383372,110.449438,123,79,1,12,2014
13855,Greater Western Sydney,Essendon,18,9,71.267151,106.547619,66,81,0,12,2014
13856,Port Adelaide,St Kilda,1,17,149.328449,62.127660,129,59,1,12,2014
13857,Footscray,Brisbane Lions,14,16,82.677903,62.912786,87,95,0,12,2014
13858,North Melbourne,Richmond,7,13,112.765957,94.383149,116,88,1,12,2014
13859,Gold Coast,Sydney,8,3,103.121853,140.077821,74,109,0,12,2014
13860,Fremantle,Adelaide,6,10,125.492773,101.043841,90,50,1,12,2014
13861,Melbourne,Collingwood,15,4,76.450512,122.123894,28,61,0,12,2014

In [206]:
matches[(matches['season']==2014)&(matches['round']==11)][['hteam','ateam','h_ladder_position','a_ladder_position','h_percentage','a_percentage','hscore','ascore','winner','round','season']]

,hteam,ateam,h_ladder_position,a_ladder_position,h_percentage,a_percentage,hscore,ascore,winner,round,season
13844,Footscray,Fremantle,14,7,81.808839,121.659634,51,89,0,11,2014
13845,Adelaide,Gold Coast,9,5,105.760369,107.466063,109,77,1,11,2014
13846,Hawthorn,Greater Western Sydney,2,17,147.649301,70.552677,94,87,1,11,2014
13847,West Coast,North Melbourne,11,8,117.861799,110.554090,44,82,0,11,2014
13848,Sydney,Geelong,3,6,139.311334,101.276102,148,38,1,11,2014
13849,St Kilda,Collingwood,16,4,64.149140,118.610747,54,140,0,11,2014
13850,Essendon,Richmond,10,13,105.167959,96.821793,104,54,1,11,2014
13851,Melbourne,Port Adelaide,15,1,78.728606,143.947368,75,95,0,11,2014
13852,Brisbane Lions,Carlton,18,12,59.232176,87.344398,98,91,1,11,2014

In [208]:
df.iloc[13853:13861]['ladder_position_diff']

13853    -6
13854    -9
13855     7
13856   -15
13857    -4
13858    -5
13859     2
13860    -2
Name: ladder_position_diff, dtype: int64

In [174]:
df

,Unnamed: 0,odds_diff,line_diff,break_diff,ground_advantage_diff,games_played_diff,wins_pg_diff,losses_pg_diff,draws_pg_diff,points_for_pg_diff,...,centre_clearances_ave_diff,disposal_efficiency_ave_diff,effective_disposals_ave_diff,intercepts_ave_diff,metres_gained_ave_diff,stoppage_clearances_ave_diff,score_involvements_ave_diff,tackles_in_50_ave_diff,turnovers_ave_diff,winner
0,0,0.00,0.0,0,0,20,0.000000,0.000000,0.0,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1
1,1,0.00,0.0,0,0,20,0.000000,0.000000,0.0,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1
2,2,0.00,0.0,0,0,20,0.000000,0.000000,0.0,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0
3,3,0.00,0.0,0,0,19,0.000000,0.000000,0.0,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0
4,4,0.00,0.0,0,0,-2,0.000000,0.000000,0.0,8.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14927,14927,-2.97,-49.0,-1,1,550,0.095238,-0.095238,0.0,6.619048,...,1.714286,75.238095,13.523810,-1.428571,-214.285714,-0.523810,5.047619,-0.857143,-5.142857,1
14928,14928,-1.67,-35.0,1,1,341,-0.190476,0.190476,0.0,-4.523810,...,0.666667,-83.823810,-11.523810,2.333333,71.761905,0.000000,-2.714286,2.238095,6.857143,1
14929,14929,-2.02,-37.0,-1,1,-1172,-0.095238,0.095238,0.0,-0.476190,...,1.714286,-40.400000,-25.809524,-2.523810,230.047619,3.285714,-3.190476,0.428571,-2.285714,1
14930,14930,-2.02,-41.0,0,1,940,-0.142857,0.142857,0.0,4.714286,...,-0.428571,65.833333,15.666667,-2.571429,-200.714286,-0.523810,6.380952,-0.523810,-6.857143,1
14931,14931,-1.54,-33.0,-1,1,448,0.000000,0.000000,0.0,-2.142857,...,0.333333,-40.385714,-0.190476,5.333333,183.714286,-6.142857,2.666667,-0.095238,4.476190,1

In [155]:
for col in zip(x,y):
    print(col[0])

hello
there
world